body{
    font-family: 'Poppins', sans-serif;
   
}


/*********************************
************ header**************
********************************** */

.first-heading{
    margin-left: 112px;
    font-weight:bolder ;
}    

.starting-influence {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-article{
    width: 50%;
    font-size:larger;
}
.first-article > p{
    width: 80%;
}
.first-article  h1{
    width: 50%;
    font-weight: bolder;
    font-size: xx-large;
}
/*  added transform */

.header-image:hover img{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.first-article a{
    background-color: rgba(226, 21, 100, 0.788) ;
    color: antiquewhite;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 20px;
}



/* ****************************
************  CONTAINER******
****************************** */
.flex-box-heading{
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 120px;
}
.container{
    width: 300px;
    padding: 20px;
    border-radius: 7px;
    border: opx solid;
    background-color: rgba(220, 224, 224, 0.521);
    
}
.flexible-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin-left: 100px;
}
/* star rating  */

.flex-rating{
    display: flex;
}
.rating-point{
    margin-left: 20px;
}

.feild{
    color: goldenrod;
}

 .second-anchor a{
    margin-left: 980px ;
    background-color: rgba(226, 21, 100, 0.788) ;
    color: antiquewhite;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 20px;
} 
.second-anchor{
    margin-top: 20px;
    margin-bottom: 100px;
}

/* ****************************************
***********third transform box ********* 
*********************************************/

.tranformation-box{
    width: 900px;
    height: 300px;
    border:0px solid;
    background-color:  rgba(80, 45, 105, 0.199);
    border-radius: 20px;
    margin-left: 200px;
            
}


.box-text-alignment h1{
    margin-left: 300px;
    padding-top:20px ;
    
}
.box-text-alignment p{
    padding: 15px;
    display: none;
   
}
.tranformation-box:hover p{
    display: block;
    
    
  }
  .update-paragraph p{
    transition-delay: 2s ;
  }

/* --------_________-----------____________-----------______-------- */
/* footer */
.footer, span{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.added-style{
    margin-top: 100px;
    padding-bottom: 25px;
    padding-top: 20px;
    background-color: rgba(80, 45, 105, 0.473);
}
.footer-icon{
 margin-left: 605px;
}
.icon{
    margin: 6px;
    font-size: larger;
}
/* ___________-----------------_______________-------------- */

@media only screen and (max-width:688px){

    .first-heading{
        margin-right: 100px;
    }
    
.starting-influence{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    width: 100%;
}
.first-article{
   margin-left: 50px;
}
.first-article a {
    padding: 10px;
}
.header-image img{
    width: 100%;
    margin-top: 30px;
}

/* ________________________________________ */
.flexible-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    
}
.second-anchor a{
   margin-left: 200px;
}
/* ---------------______--------_____-------____--------____------- */
.tranformation-box {
    width: 350px;
    height: 600px;
    margin-left: 20px;
    
}
.box-text-alignment p{
    width: 85% ;
    padding-left: 30px;
}
.box-text-alignment h1{
    margin-left: 26px;
}
/* ------------____------____---------______---------_______-------__ */
.footer-icon{
    margin-left: 130px;
} 
}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .first-heading{
        margin-left: 0px;
    }
.starting-influence{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 130px;
    width: 100%;
}
.first-article{
    margin-left: 50px;
}
/* _______________________________________ */
.flexible-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    margin-left: 22px;
    
}
.second-anchor a{
   margin-left: 570px;
}
/* _______________________________________ */

.footer-icon{
    margin-left: 130px;
} 
.tranformation-box {
    width: 750px;
    height: 380px;
    margin-left: 0px;
}
.box-text-alignment p{
    width:95% ;
    padding-left: 20px;
    
}
.box-text-alignment h1{
    margin-left: 250px;
}
/* _______________________------------_______________ */

.footer-icon{
    margin-left: 130px;
} 
.tranformation-box {
    width: 750px;
    height: 380px;
    margin-left: 22px;
}
.box-text-alignment p{
    width: 95% ;
}
.box-text-alignment h1{
    margin-left: 240px;
}
/* ---------------___________--------______-------______-------_*/
.footer-icon{
    margin-left: 330px;
} 
}